* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  image-rendering: crisp-edges;
  text-rendering: optimizeLegibility;
}

body, html {
  min-height: 100vh;
  width: 100vw;
}

html {
  font-size: 10px;
}

body {
  font-family: Pixelar;
  font-size: 12px;
}
