.framed {
  display: flex;
  flex-direction: column;

  &.framed-horizontal {
    flex-direction: row;
  }

  &.framed-full,
  > footer,
  > header,
  > .framed-content {
    border-color: transparent;
    border-image-outset: calc(1px * var(--pixel-multiplier));
    border-image-repeat: repeat;
    border-image-slice: calc(8 * var(--pixel-multiplier)) fill;
    border-image-source: url('/game-assets/ui/ui-frame@4x.png');
    border-style: solid;
    border-width: calc(8px * var(--pixel-multiplier));
  }

  &.framed-full {
    &.framed-dark {
      border-image-slice: calc(5 * var(--pixel-multiplier)) fill;
      border-image-source: url('/game-assets/ui/ui-frame-dark@4x.png');
      border-width: calc(5px * var(--pixel-multiplier));
    }
  }

  > .framed-content {
    background-color: #222222;
    border-bottom-width: 0;
    border-top-width: 0;
    flex-grow: 1;
    flex-shrink: 1;

    &.framed-dark {
      border-left-width: calc(5px * var(--pixel-multiplier));
      border-image-slice: calc(5 * var(--pixel-multiplier)) fill;
      border-image-source: url('/game-assets/ui/ui-frame-dark@4x.png');
      border-right-width: calc(5px * var(--pixel-multiplier));
    }
  }

  > footer,
  > header {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;

    &:after,
    &:before {
      border-image-repeat: repeat;
      border-image-slice: calc(4 * var(--pixel-multiplier)) calc(6 * var(--pixel-multiplier)) calc(3 * var(--pixel-multiplier));
      border-image-source: url('/game-assets/ui/ui-frame-horizontal-break@4x.png');
      border-style: solid;
      border-width: calc(4px * var(--pixel-multiplier)) calc(6px * var(--pixel-multiplier)) calc(3px * var(--pixel-multiplier));
      content: '';
      display: block;
      height: 0;
      left: 0;
      margin-left: calc(-8px * var(--pixel-multiplier));
      margin-right: calc(-8px * var(--pixel-multiplier));
      position: absolute;
      right: 0;
      z-index: 1;
    }

    &:after {
      top: calc(100% - calc(1px * var(--pixel-multiplier)));
    }

    &:before {
      bottom: calc(100% - calc(1px * var(--pixel-multiplier)));
    }
  }

  header {
    border-bottom-width: 0;
    margin-bottom: calc(5px * var(--pixel-multiplier));

    &:before {
      display: none;
    }
  }

  footer {
    border-top-width: 0;
    margin-top: calc(5px * var(--pixel-multiplier));

    &:after {
      display: none;
    }
  }

  header + footer {
    &:before {
      display: none;
    }
  }
}
