.game-ui {
  display: grid;
  grid-template-areas:
    'quick-stats  quick-stats   panels'
    '.            .             panels'
    'hotbar       hotbar        hotbar';
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  width: 100vw;

  .quick-stats-container {
    grid-area: quick-stats;
  }

  .hotbar-container {
    grid-area: hotbar;
  }

  .panels-container {
    grid-area: panels;
  }
}
