.inventory {
  ol {
    display: grid;
    overflow: auto;
    grid-auto-rows: calc(16px * var(--pixel-multiplier));
    grid-template-columns: repeat(4, calc(16px * var(--pixel-multiplier)));
  }

  .inventory-slot {}

  .inventory-item {
    cursor: var(--move-cursor);
    transition-duration: 0.2s;
    transition-property: opacity;

    &.is-dragging {
      opacity: 0.5;
    }
  }
}
