.quick-stats-container {
  display: flex;
  padding: var(--panel-inset);
}

.quick-stats {
  color: var(--white);
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'preview  name'
    'preview  health-bar'
    'preview  mana-bar';

  .health-bar,
  .mana-bar {
    flex-shrink: 0;
  }

  .character-preview-wrapper {
    align-items: center;
    display: flex;
    grid-area: preview;
    justify-content: center;
  }

  .character-name {
    grid-area: name;
  }

  .character-health {
    grid-area: health-bar;
  }

  .character-mana {
    grid-area: mana-bar;
  }
}
