.quick-stats-container {
  display: flex;
  padding: var(--panel-inset);
}

.quick-stats {
  color: var(--white);
  display: flex;
  flex-direction: column;
  width: 20%;

  .health-bar,
  .mana-bar {
    flex-shrink: 0;
  }

  .health-bar {
    margin-bottom: calc(2px * var(--pixel-multiplier));
  }
}
