.slide-out-panel {
  // bottom: var(--panel-inset);
  height: 100%;
  // left: 100%;
  // position: absolute;
  // top: var(--panel-inset);
  transform: translateX(110%);
  transition-duration: 0.2s;
  transition-property: transform;

  &[data-open] {
    transform: translateX(0);
  }
}
